@model dashboard.Models.Login

@{
    ViewData["Title"] = "changepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>changepassword</h1>

<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="changepassword">

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" value="@ViewBag.ps" type="text" name="np" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag != null)
{
    @ViewBag.mes
}

