@model database1.Models.Product

@{
    ViewData["Title"] = "addpro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>addpro</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addpro" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Proname" class="control-label"></label>
                <input asp-for="Proname" class="form-control" />
                <span asp-validation-for="Proname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proimage" class="control-label"></label>
                <input asp-for="Proimage" class="form-control" type="file" name="file"/>
                <span asp-validation-for="Proimage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prodes" class="control-label"></label>
                <input asp-for="Prodes" class="form-control" />
                <span asp-validation-for="Prodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Catid" class="control-label"></label>
                <select asp-for="Catid" class ="form-control" asp-items="ViewBag.Catid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

