@model dashboard.Models.Order

@{
    ViewData["Title"] = "checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>checkout</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Email</label>
                <input asp-for="CustomerName" class="form-control" name="cname" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" value="@ViewBag.total" readonly name="tp" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" name="caddress" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" name="cphone" minlength="11" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Place your Order" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if(ViewBag.message!=null)
            {
                <b> @ViewBag.message</b>
            }
<div>
    <a asp-action="Index">Back to Home</a>
</div>

